.App {
  text-align: center;
}

.Cat-image {
  height: 40vmin;
  pointer-events: none;
}

.Fish-image {
  width: 300px;
  pointer-events: none;
  transform: rotate(180deg);
}

button{
  background-color: #ffd67b;
    border-radius: 10px;
    color: #703b21;
    padding: 20px 50px;
    margin: 20px;
    border: 5px #ffb850 solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
